# Whether to use Discord or not. true/false
USE_DISCORD=

# IF using Discord, you must set these parameters.
DISCORD_TOKEN=
DISCORD_WEBHOOK_ID=
DISCORD_WEBHOOK_TOKEN=

# Whether to use BlockClock Mini or not. true/false
USE_BCMINI=

# IF using BlockClock Mini, must set its local IP address
BCMINI_LOCAL_IP=

# Optional settings for tor. Defaults to localhost and 9050 unless specified
TOR_HOST=
TOR_PORT=

# Route to use with Lnd REST API. Defaults to /v1/getinfo.
# Must use macaroon with sufficient permissions for route.
LND_API_ROUTE=